In [9]:
import pandas as pd
import numpy as np
import unidecode

In [2]:
df = pd.read_excel('/Users/shizhewei/Desktop/Assignments/Data Eng Final Project/Global_Superstore.xlsx')
df.head(1)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,31-07-2012,31-07-2012,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.65,7,0.0,762.1845,933.57,Critical

In [4]:
order_date_int = []
for i in df['Order Date']:
    day = i[0:2]
    month = i[3:5]
    year = i[6:10]
    order_date_int.append(int(year + month + day))

ship_date_int = []
for i in df['Ship Date']:
    day = i[0:2]
    month = i[3:5]
    year = i[6:10]
    ship_date_int.append(int(year + month + day))

df['Order Date'] = order_date_int
df['Ship Date'] = ship_date_int

new_code = []
for i in df['Postal Code']:
    if i > 0:
        new_code.append(int(i))
    else:
        new_code.append(0)
df['Postal Code'] = new_code

df.head(3)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,20120731,20120731,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
1,26341,IN-2013-77878,20130205,20130207,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2013-71249,20131017,20131018,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium

In [12]:
# column with issues: customer_name, city, state, coountry, product_name
new_customer_name = []
for i in df['Customer Name']:
    new_customer_name.append(unidecode.unidecode(i))
df['Customer Name'] = new_customer_name

In [13]:
new_city = []
for i in df['City']:
    new_city.append(unidecode.unidecode(i))
df['City'] = new_city

In [14]:
new_state = []
for i in df['State']:
    new_state.append(unidecode.unidecode(i))
df['State'] = new_state

In [15]:
new_country = []
for i in df['Country']:
    new_country.append(unidecode.unidecode(i))
df['Country'] = new_country

In [16]:
new_prod_name = []
for i in df['Product Name']:
    new_prod_name.append(unidecode.unidecode(i))
df['Product Name'] = new_prod_name

In [17]:
df.head(3)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,20120731,20120731,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
1,26341,IN-2013-77878,20130205,20130207,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2013-71249,20131017,20131018,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium

In [18]:
df.to_csv('/Users/shizhewei/Downloads/import2.csv')